<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some Recipes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="/style.css">

  

</head>

<body>
    <div>
        <header>
            <nav class="navbar navbar-expand-sm navbar-light custom-nav mb-3">
                <!-- <div class="container">
                    <p class="navbar-brand mx-auto">text</p>
                </div> -->
                <a class="navbar-brand " href="#">
                    <img src="https://images.pexels.com/photos/539451/pexels-photo-539451.jpeg" alt="Logo" width="30" height="30" class="d-inline-block align-top">
                  </a>
                  <span class="mx-auto">Mmm!</span>
                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                   
                    {{#if logged_in}}
                     <li class="nav-item">
                        <a class="nav-link" href="/addrecipe">Add recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logout" href="/">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    {{else}}
                     <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                 {{/if}}
                </ul>
        
                {{!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search all recipes..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> --}}
            </nav>
        </header>

    </div>
    <main>
        {{{ body }}}
    </main>
    {{#if logged_in}}
<script src="../logout.js"></script>
{{/if}}
</body>
</html>