<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-5">How to Make {{recipe_name}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <h4 class="mb-4">Ingredients:</h4>
      <ul class="list-group list-group-flush mb-5">
        {{#each ingredients as |ingredient|}}
        <li class="list-group-item">{{ingredient}}</li>
         
            
        {{/each}}
      </ul>

      <h4 class="mb-4">Instructions:</h4>
      <p class="mb-5">{{instructions}}</p>
    </div>

    <div class="col-lg-4">
      <div class="card mb-5">
        <div class="card-body">
          <h5 class="card-title">About this Recipe:</h5>
          <p class="card-text">{{description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


