<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-5">How to Make Brownies</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <h4 class="mb-4">Ingredients:</h4>
      <ul class="list-group list-group-flush mb-5">
        {{!-- {{#each ingredients as |ingredient|}} --}}
        <li class="list-group-item">milk</li>
         <li class="list-group-item">flour</li>
          <li class="list-group-item">eggs</li>
           <li class="list-group-item">baking soda</li>
            <li class="list-group-item">baking powder</li>
            
        {{!-- {{/each}} --}}
      </ul>

      <h4 class="mb-4">Instructions:</h4>
      <p class="mb-5">Preheat the oven to 325°F. Add all ingredients into a mixing bowl and mix for 3 minutes or until fully combined.</p>
    </div>

    <div class="col-lg-4">
      <div class="card mb-5">
        <div class="card-body">
          <h5 class="card-title">About this Recipe:</h5>
          <p class="card-text">These chocolatey brownies are nice and dense, just how they should be.</p>
        </div>
      </div>
    </div>
  </div>
</div>


